.flex-container{
  display: flex;
 
}
.list-container{
    flex-grow: 1;
    background-color: white;
    height: -webkit-fill-available;
    width: 30vw;
    overflow-y: auto;
}
.username{
  color: #f1f1f1;
  font-size: medium;
  font-weight: bolder;
}
.button{
  margin-left: 7px;
}

.profile{
  color: white;
  display: flex;
  align-items: center;
  background-color: rgb(136,148,163);
  padding-right: 10px;
  border: black;
  height: 3rem;
  width: 10rem;
  max-width: 10rem;
}